@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #f5f9fc;
}

.swiper-pagination-bullet-active {
  background: #32c1ce !important;
}
.swal-button--cancel {
  color: white;
  background-color: #32c1ce;
}

.swal-button--confirm {
  background-color: #32c1ce;
  color: #fff;
}
.swal-button--confirm:hover {
  background-color: #32c1ce !important;
}

.swal-button--cancel:hover {
  background-color: #32c1ce !important;
}
.swal-button--danger {
  background-color: red;
}
.swal-button--danger:hover {
  background-color: red !important;
}

.menu li > *:not(ul, .menu-title, details, .btn):active,
.menu li > *:not(ul, .menu-title, details, .btn).active,
.menu li > details > summary:active {
  background-color: transparent !important;
  color: #32c1ce;
  border-bottom: 2px solid #32c1ce;
}
